<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    #RewriteCond %{HTTPS} !on
	#RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_URI} !(\.html|\.pdf|\.css|\.js|\.json|\.png|\.jpg|\.jpeg|\.gif|\.ico|robots\.txt|\.eot|\.svg|\.ttf|\.woff|\.woff2|\.otf|\.mp3|\.mp4)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(css|js|images|img|svg)/(.*)$ public/$1/$2 [L,NC]
    RewriteRule ^(uploaded|audio|lunch|files|media|tmp)/(.*)$ public/$1/$2 [L,NC]
    RewriteRule ^(fonts|webfonts|vendors|magazine|coming-soon)/(.*)$ public/$1/$2 [L,NC]
</IfModule>
